.back_button {
  display: flex;
  justify-content: center;
  align-content: center;
  cursor: pointer;
  background: none;
  border: none;
  transform: scale(1);
  color: rgb(16, 15, 15);
  will-change: transform, text-shadow;
  transition: transform 0.8s linear, color 0.5s linear;
}

.back_button::before {
  content: "\21A9";
  font-size: 22px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  display: inline-block;
}

.back_button:hover {
  color: rgb(9, 81, 35);
  transform: scale(1.1);
  transition: transform 0.8s linear, color 0.5s linear;
}

@media (min-width: 600px) {
  .back_button:before {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .back_button:before {
    font-size: 42px;
  }
}
