.back_button {
  width: 70px;
  height: 30px;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
  font-weight: 600;
  width: 70px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border: solid 1px #97cae9;
  background-color: #e0e2db;
  border-radius: 30px;
  box-shadow: 4px 4px 4px #b2dffb, -2px -2px 2px #5486a5, 1px 1px 2px #437594;
  cursor: pointer;
  transition: box-shadow 0.3s ease, background-color 0.6s ease-in-out;
}

.back_button:hover {
  background-color: #cfe3fa;
  transition: background-color 0.6s ease-in-out;
}

.back_button:active {
  box-shadow: inset 4px 4px 8px #b2dffb, inset -2px -2px 2px #5486a5;
}
