.image-box-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  gap: 12px;
}

.main-description {
  width: 100%;
  margin-bottom: 6px;
}

.description-box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2px 0;
  gap: 4px;
}

.main-description_title {
  width: 220px;
  font-size: 12px;
  font-family: "Oswald", arial narrow, sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.main-description_text {
  font-size: 12px;
  line-height: 1.5;
}

.fish_item_img_details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 14px;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px;
}

.fish_item_descriptions_box {
  position: relative;
  margin-bottom: 6px;
}

.fish_item_descriptions_box:last-child {
  margin-bottom: 0;
}

.fish_item_descriptions_box h3 {
  display: inline;
  font-size: 14px;
  font-weight: 600;
  font-family: "Oswald", arial narrow, sans-serif;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  margin-left: 16px;
}

.fish_item_descriptions_box p {
  display: inline;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.75;
  margin-left: 6px;
  overflow-wrap: break-word;
}

.fish_item_details_image {
  width: 250px;
  height: 170px;
  border-radius: 8px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  transition: box-shadow 0.5s ease-in-out;
  &:hover {
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.5s ease-in-out;
  }
}

.image-box {
  width: 300px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  object-fit: cover;
  overflow: hidden;
  margin-right: auto;
  margin-left: auto;
}

.main-image {
  width: 300px;
  height: 75%;
  object-fit: cover;
  position: relative;
}

.main-image img {
  width: 300px;
  height: 190px;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
  border-radius: 12px;
  opacity: 1;
  transition: opacity 0.2s ease-in-out,
    animation cubic-bezier(0.86, 0, 0.07, 1) ease-in;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.main-image img.fade-out {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  animation: fade-out 0.5s ease-in-out forwards;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  width: 30px;
  height: 100%;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.main-image:hover .prev-button,
.main-image:hover .next-button {
  background-color: rgba(211, 211, 211, 0.15);
  color: transparent;
  transition: background-color 0.3s ease-in, color 0.15s ease-in;
}

.prev-button {
  left: 0;
  border-radius: 12px 0 0 12px;
}

.next-button {
  right: 0;
  border-radius: 0 12px 12px 0;
}

.thumbnail-strip {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  object-fit: cover;
  overflow: hidden;
}

.thumbnail {
  width: 45px;
  height: 30px;
  cursor: pointer;
  margin: 0;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
  transform: scale(1);
  border-radius: 8px;
  filter: blur(1px);
  transition: all 0.3s ease-in-out;
}

.thumbnail:hover {
  border: 1px solid #876130;
}

.thumbnail.active-thumbnail {
  transform: scale(1.15);
  filter: blur(0);
  margin: 0 5px;
  border-radius: 4px;
  border: none;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 500px) {
  .main-image img {
    width: 100%;
    height: 100%;
    margin: 0;
  }
}

@media (min-width: 600px) {
  .image-box-wrapper {
    margin-bottom: 20px;
  }

  .main-description_title {
    font-size: 22px;
    text-align: start;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  }

  .main-description_text {
    width: 60%;
    font-size: 16px;
  }

  .fish_item_descriptions_box {
    margin-bottom: 10px;
  }
  .fish_item_descriptions_box h3 {
    font-size: 20px;
  }

  .fish_item_descriptions_box p {
    font-size: inherit;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.75;
    margin-left: 14px;
    overflow-wrap: break-word;
  }

  .fish_item_img_details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 14px;
    align-items: center;
    justify-content: center;
    margin-bottom: 14px;
  }

  .image-box {
    width: 480px;
    height: 400px;
    margin: 0;
  }

  .main-image {
    width: 480px;
    height: 300px;
  }

  .thumbnail-strip {
    width: 480px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
    object-fit: cover;
    overflow: hidden;
  }

  .thumbnail {
    width: 70px;
    height: 50px;
    cursor: pointer;
    margin: 0;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
    transform: scale(1);
    border-radius: 8px;
    filter: blur(1px);
    transition: all 0.3s ease-in-out;
  }

  .thumbnail:hover {
    border: 1px solid #876130;
  }
}

@media (min-width: 1200px) {
  .image-box-wrapper {
    flex-direction: row;
    margin-bottom: 18px;
    gap: 30px;
  }

  .image-box {
    width: 480px;
    height: 400px;
    margin-right: auto;
  }

  .main-description {
    width: calc(100% - 480px);
  }

  .main-description_text {
    width: 65%;
    font-size: 18px;
  }
}

@media (min-width: 1400px) {
  .image-box-wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .main-description {
    width: calc(100% - (480px + 5%));
    margin: 14px 0;
  }

  .description-box {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: flex-end;
    gap: 10px;
  }

  .main-description_title {
    text-align: end;
  }

  .main-description_text {
    width: 450px;
    text-align: end;
  }
}
