.nav_dox {
  width: 100%;
  height: 60px;
  text-align: center;
  position: fixed;
  padding-top: 20px;
  border-bottom: 1px solid #10559b;
  background-color: #f8f8f1;
}

main {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-top: 90px;
}

.img_fish {
  width: 180px;
  height: 120px;
  object-fit: cover;
}

.search_input {
  width: 80%;
  height: 25px;
  font: inherit;
  font-size: 16px;
  font-weight: 600;
  background: #f2f4f6;
  border: #10559b;
  outline: none;
  padding-left: 10px;
  border-radius: 10px;
  caret-color: black;
  &::placeholder {
    padding-left: 2px;
    font-family: "Segoe UI";
    font-size: 14px;
    color: #778899;
  }
}

.fish_view_boxes_container {
  width: 1200px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.fish_view_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  gap: 16px;
  height: auto;
  width: 210px;
}

.fish_view_image_container {
  width: 210px;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5%;
  overflow: hidden;
}

.fish_view_image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1);
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
}

.fish_view_linkText {
  text-decoration: none;
  text-overflow: ellipsis;
  font-size: 14px;
  font-weight: 600;
  color: #020a12;
  word-wrap: break-word;
  word-break: break-word;
  max-width: 100%;
  overflow: hidden;
  display: block;
}

.fish_box_container {
  margin-top: -12px;
}
.back_button {
  padding: 5px 10px;
  margin: 10px 0;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 12px;
}
