.image-box-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.main-description {
  width: 95%;
}

.description-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 2px 0;
  gap: 4px;
}

.main-description_title {
  width: 220px;
  font-size: 12px;
  font-family: "Oswald", arial narrow, sans-serif;
  color: rgb(58, 25, 25);
  text-shadow: var(--primery_text-shadow);
}

.main-description_text {
  font-family: "Segoe UI", sans-serif;
  text-align: right;
  font-size: 12px;
  line-height: 1.5;
}

.fish_item_img_details {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 14px;
  align-items: center;
  justify-content: center;
  margin-bottom: 14px;
}

.fish_item_descriptions_box {
  width: 100%;
  position: relative;
  margin: 0 6px 6px 6px;
}

.fish_item_descriptions_box:last-child {
  margin-bottom: 0;
}

.fish_item_descriptions_box h3 {
  display: inline;
  font-size: 14px;
  font-weight: 600;
  font-family: "Oswald", arial narrow, sans-serif;
  text-shadow: var(--primery_text-shadow);
  margin-left: 16px;
}

.fish_item_descriptions_box p {
  display: inline;
  font-size: 12px;
  line-height: 1.5;
  margin-left: 6px;
  overflow-wrap: break-word;
  white-space: pre-line;
  white-space: pre-wrap;
}

.fish_item_details_image {
  width: 250px;
  height: 170px;
  border-radius: 8px;
  overflow: hidden;
  object-fit: cover;
  object-position: center;
  transition: box-shadow 0.5s ease-in-out;
}

.fish_item_details_image:hover {
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}

.image-box {
  width: 100%;
  max-width: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  overflow: hidden;
}

.main-image {
  width: 95%;
  aspect-ratio: 8 / 5;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  transition: opacity 0.2s ease-in-out;
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.main-image img.fade-out {
  animation: fade-out 0.5s ease-in-out forwards;
}

.prev-button,
.next-button {
  position: absolute;
  width: 30px;
  height: 100%;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 30px;
  color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.main-image:hover .prev-button,
.main-image:hover .next-button {
  background-color: rgba(211, 211, 211, 0.15);
  color: white;
}

.prev-button {
  left: 0;
  border-radius: 12px 0 0 12px;
}
.next-button {
  right: 0;
  border-radius: 0 12px 12px 0;
}

.thumbnail-strip {
  width: 95%;
  max-width: 100%;
  display: flex;
  justify-content: safe center;
  align-items: center;
  padding: 4px 0;
  overflow-x: auto;
  scrollbar-width: none;
  -webkit-overflow-scrolling: touch;
}

.thumbnail-strip::-webkit-scrollbar {
  display: none;
}

.thumbnail-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.thumbnail {
  width: 40px;
  aspect-ratio: 8 / 5;
  flex-shrink: 0;
  object-fit: cover;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
  filter: blur(1px);
  transition: all 0.3s ease-in-out;
  -webkit-user-drag: none;
}

.thumbnail:hover {
  border: 1px solid #876130;
  filter: blur(0);
}

.thumbnail.active-thumbnail {
  transform: scale(1.15);
  filter: blur(0);
  margin: 0 5px;
  border: 1.5px solid #876130;
}

.small-loader .img-spinner {
  width: 15px;
  height: 15px;
  border-width: 2px;
}

@media (min-width: 425px) {
  .image-box {
    gap: 8px;
  }

  .thumbnail {
    width: 55px;
  }
}

@media (min-width: 600px) {
  .main-description_title {
    font-size: 20px;
    text-align: start;
  }

  .main-description_text {
    width: 60%;
    font-size: 16px;
  }

  .image-box {
    width: 480px;
    gap: 10px;
  }

  .main-description {
    width: 480px;
  }

  .main-image {
    width: 480px;
    height: 300px;
  }

  .thumbnail-strip {
    width: 100%;
    height: 60px;
    gap: 8px;
  }

  .thumbnail {
    width: 70px;
  }
}

@media (min-width: 1200px) {
  .image-box-wrapper {
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .image-box {
    margin-right: auto;
  }

  .main-description {
    height: 360px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 480px);
  }

  .main-description_title {
    font-size: 22px;
  }

  .main-description_text {
    width: 65%;
    font-size: 18px;
  }

  .fish_item_descriptions_box h3 {
    font-size: 20px;
  }

  .fish_item_descriptions_box p {
    font-size: 18px;
    line-height: 1.75;
  }
}

@media (min-width: 1400px) {
  .main-description {
    width: calc(100% - (480px + 5%));
  }
  .main-description_text {
    width: 450px;
  }
}

.collapsible-section {
  border: 1px solid transparent;
  border-radius: 5px;
  overflow: hidden;
}
